In [63]:
import pandas as pd
import numpy as np

In [64]:
df = pd.read_csv('../dataset/transcripts/azul/datas.csv')
df = df.sort_values(by=['data'], ignore_index=True)
df['data'] = pd.to_datetime(df['data'])
df['prox_reuniao'] = df['data'].shift(-1)
df['prox_reuniao'] = pd.to_datetime(df['prox_reuniao'])
df

   trimestre       data prox_reuniao
0     1T2017 2017-05-15   2017-08-14
1     2T2017 2017-08-14   2017-11-09
2     3T2017 2017-11-09   2018-03-08
3     4T2017 2018-03-08   2018-05-10
4     1T2018 2018-05-10   2018-08-09
5     2T2018 2018-08-09   2018-11-08
6     3T2018 2018-11-08   2019-03-14
7     4T2018 2019-03-14   2019-05-09
8     1T2019 2019-05-09   2019-08-08
9     2T2019 2019-08-08   2019-11-07
10    3T2019 2019-11-07   2020-03-12
11    4T2019 2020-03-12   2020-05-14
12    1T2020 2020-05-14   2020-08-13
13    2T2020 2020-08-13   2020-11-16
14    3T2020 2020-11-16   2021-03-04
15    4T2020 2021-03-04   2021-05-06
16    1T2021 2021-05-06   2021-08-12
17    2T2021 2021-08-12   2021-11-11
18    3T2021 2021-11-11   2022-02-24
19    4T2021 2022-02-24   2022-05-09
20    1T2022 2022-05-09   2022-08-11
21    2T2022 2022-08-11   2022-11-11
22    3T2022 2022-11-11   2023-03-06
23    4T2022 2023-03-06          NaT

In [65]:
prices = pd.read_csv('../dataset/prices_processed/AZUL4.SA.csv')
prices['Date'] = pd.to_datetime(prices['Date'])
prices

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_Return,Week_Return,Month_Return,Cumulative_std_Daily_Return,Cumulative_std_Week_Return,Cumulative_std_Month_Return,Indicator_Daily_Return,Indicator_Week_Return,Indicator_Month_Return
0,2017-04-12,22.450001,22.990000,22.299999,22.959999,22.959999,1745900,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1,2017-04-13,22.969999,23.010000,22.549999,22.990000,22.990000,549600,0.001306,NaN,NaN,NaN,NaN,NaN,0,0,0
2,2017-04-17,23.000000,23.000000,22.620001,22.850000,22.850000,249300,-0.006108,NaN,NaN,0.005243,NaN,NaN,-1,0,0
3,2017-04-18,22.820000,24.790001,22.600000,23.910000,23.910000,1125100,0.045346,NaN,NaN,0.027815,NaN,NaN,1,0,0
4,2017-04-19,24.000000,24.340000,23.900000,23.920000,23.920000,442100,0.000418,NaN,NaN,0.023636,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1772,2024-05-27,10.430000,10.650000,9.990000,10.120000,10.120000,7892500,-0.023439,-0.012764,-0.097822,0.042432,0.120882,0.258422,-1,-1,-1
1773,2024-05-28,10.270000,10.370000,9.600000,9.630000,9.630000,16238700,-0.049630,-0.044677,-0.104425,0.042436,0.120851,0.258357,-1,-1,-1
1774,2024-05-29,9.600000,9.750000,9.230000,9.280000,9.280000,14747200,-0.037022,-0.096485,-0.120652,0.042433,0.120838,0.258295,-1,-1,-1
1775,2024-05-31,9.350000,9.670000,9.210000,9.470000,9.470000,14742500,0.020267,-0.096557,-0.100385,0.042424,0.120824,0.258229,1,-1,-1
1776,2024-06-03,9.550000,9.650000,9.260000,9.410000,9.410000,10442200,-0.006356,-0.058810,-0.067788,0.042412,0.120797,0.258158,-1,-1,-1

In [66]:
def contar_indicadores(dataframe1, dataframe2, indicador, tipo=1):
    contagem = []
    for i, row in dataframe1.iterrows():
        inicio = row['data']
        fim = row['prox_reuniao']
        print(pd.isna(fim))
        if not pd.isna(fim):
            filtro = dataframe2[(dataframe2['Date'] >= inicio) & (dataframe2['Date'] <= fim) & (dataframe2[f'Indicator_{indicador}'] == tipo)]
        else:
            fim = inicio + pd.DateOffset(months=3)
            print(fim)
            filtro = dataframe2[(dataframe2['Date'] >= inicio) & (dataframe2['Date'] <= fim) & (dataframe2[f'Indicator_{indicador}'] == tipo)]
        contagem.append(len(filtro))
    return contagem

In [67]:
df['Daily_Return_Positive'] = contar_indicadores(df, prices, 'Daily_Return', tipo=1)
df['Daily_Return_Neutral'] = contar_indicadores(df, prices, 'Daily_Return', tipo=0)
df['Daily_Return_Negative'] = contar_indicadores(df, prices, 'Daily_Return', tipo=-1)
df

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
True
2023-06-06 00:00:00
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
True
2023-06-06 00:00:00
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
True
2023-06-06 00:00:00

,trimestre,data,prox_reuniao,Daily_Return_Positive,Daily_Return_Neutral,Daily_Return_Negative
0,1T2017,2017-05-15,2017-08-14,35,8,23
1,2T2017,2017-08-14,2017-11-09,29,9,26
2,3T2017,2017-11-09,2018-03-08,37,13,33
3,4T2017,2018-03-08,2018-05-10,20,5,19
4,1T2018,2018-05-10,2018-08-09,27,5,32
5,2T2018,2018-08-09,2018-11-08,38,4,21
6,3T2018,2018-11-08,2019-03-14,42,8,32
7,4T2018,2019-03-14,2019-05-09,19,1,19
8,1T2019,2019-05-09,2019-08-08,37,3,24
9,2T2019,2019-08-08,2019-11-07,27,10,29
10,3T2019,2019-11-07,2020-03-12,38,8,37
11,4T2019,2020-03-12,2020-05-14,17,3,23
12,1T2020,2020-05-14,2020-08-13,28,5,32
13,2T2020,2020-08-13,2020-11-16,32,8,25
14,3T2020,2020-11-16,2021-03-04,34,8,29
15,4T2020,2021-03-04,2021-05-06,16,9,19
16,1T2021,2021-05-06,2021-08-12,24,14,31
17,2T2021,2021-08-12,2021-11-11,23,5,35
18,3T2021,2021-11-11,2022-02-24,31,8,34
19,4T2021,2022-02-24,2022-05-09,19,3,27
20,1T2022,2022-05-09,2022-08-11,23,8,37
21,2T2022,2022-08-11,2022-11-11,29,5,30
22,3T2022,2022-11-11,2023-03-06,31,7,40
23,4T2022,2023-03-06,NaT,28,7,29