In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('../dataset/prices_data/AZUL4.SA.csv')   
df

           Date       Open       High    Low      Close  Adj Close    Volume
0    2022-10-27  14.370000  15.240000  14.33  14.640000  14.640000   9401500
1    2022-10-28  14.430000  14.930000  14.33  14.810000  14.810000   8831300
2    2022-10-31  14.440000  16.129999  14.30  16.129999  16.129999  16568200
3    2022-11-01  16.200001  16.559999  15.61  16.320000  16.320000  11681900
4    2022-11-03  15.780000  16.270000  15.45  16.230000  16.230000  11766800
..          ...        ...        ...    ...        ...        ...       ...
246  2023-10-23  12.250000  13.140000  12.12  12.930000  12.930000  14617400
247  2023-10-24  13.100000  13.410000  12.93  13.200000  13.200000  11542300
248  2023-10-25  13.200000  13.500000  12.80  12.850000  12.850000  13303400
249  2023-10-26  13.010000  13.550000  13.01  13.360000  13.360000  16068800
250  2023-10-27  13.410000  13.660000  13.36  13.660000  13.660000   1411000

[251 rows x 7 columns]

In [14]:
df['Date'] = pd.to_datetime(df['Date'])
df

          Date       Open       High    Low      Close  Adj Close    Volume
0   2022-10-27  14.370000  15.240000  14.33  14.640000  14.640000   9401500
1   2022-10-28  14.430000  14.930000  14.33  14.810000  14.810000   8831300
2   2022-10-31  14.440000  16.129999  14.30  16.129999  16.129999  16568200
3   2022-11-01  16.200001  16.559999  15.61  16.320000  16.320000  11681900
4   2022-11-03  15.780000  16.270000  15.45  16.230000  16.230000  11766800
..         ...        ...        ...    ...        ...        ...       ...
246 2023-10-23  12.250000  13.140000  12.12  12.930000  12.930000  14617400
247 2023-10-24  13.100000  13.410000  12.93  13.200000  13.200000  11542300
248 2023-10-25  13.200000  13.500000  12.80  12.850000  12.850000  13303400
249 2023-10-26  13.010000  13.550000  13.01  13.360000  13.360000  16068800
250 2023-10-27  13.410000  13.660000  13.36  13.660000  13.660000   1411000

[251 rows x 7 columns]