In [9]:
import pandas as pd
import numpy as np
from src.dataProcessing.utilsData.data_processing import DataProcessing

In [18]:
df = pd.read_csv('../dataset/prices_processed/BBAS3.SA.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_Return,Week_Return,Month_Return,Cumulative_std_Daily_Return,Cumulative_std_Week_Return,Cumulative_std_Month_Return,Indicator_Daily_Return
0,2010-01-04,29.799999,30.000000,29.700001,29.900000,12.111353,3624700,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2010-01-05,30.100000,30.100000,29.190001,29.600000,11.989834,3064900,-0.010084,NaN,NaN,NaN,NaN,NaN,0
2,2010-01-06,29.490000,30.000000,29.420000,29.639999,12.006036,2733100,0.001350,NaN,NaN,0.008085,NaN,NaN,0
3,2010-01-07,29.440001,29.709999,29.410000,29.650000,12.010086,1542200,0.000337,NaN,NaN,0.006330,NaN,NaN,0
4,2010-01-08,29.700001,29.820000,29.469999,29.820000,12.078955,2038900,0.005717,NaN,NaN,0.006696,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3220,2022-12-23,34.529999,35.639999,34.529999,35.279999,32.831261,8744400,0.024388,0.127073,-0.029328,0.025743,0.067578,0.140555,0
3221,2022-12-26,35.570000,35.570000,34.740002,35.230000,32.784729,4552700,-0.001418,0.097726,-0.008198,0.025739,0.067589,0.140533,0
3222,2022-12-27,35.450001,35.450001,33.900002,34.060001,31.695936,8865800,-0.033774,0.043811,-0.066445,0.025742,0.067583,0.140516,-1
3223,2022-12-28,34.099998,34.799999,33.619999,34.669998,32.263596,10725200,0.017751,0.050883,-0.016591,0.025740,0.067578,0.140494,0
3224,2022-12-29,34.830002,35.040001,34.400002,34.730000,32.319435,9336500,0.001729,0.027143,0.006645,0.025736,0.067569,0.140472,0

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_Return,Week_Return,std_Daily_Return
8,2022-11-09,15.01,15.37,14.75,15.20,15.20,12192200,0.003295,0.025993,NaN
9,2022-11-10,14.74,14.75,12.30,12.49,12.49,41927700,-0.196367,-0.255753,0.141182
10,2022-11-11,12.92,13.27,12.10,13.01,13.01,23082800,0.040790,-0.226673,0.127485
11,2022-11-14,13.35,13.96,13.03,13.86,13.86,14574200,0.063289,-0.157854,0.118688
12,2022-11-16,13.87,14.02,12.93,13.08,13.08,14056800,-0.057923,-0.210216,0.104017
...,...,...,...,...,...,...,...,...,...,...
246,2023-10-23,12.25,13.14,12.12,12.93,12.93,14617400,0.045085,-0.053456,0.049665
247,2023-10-24,13.10,13.41,12.93,13.20,13.20,11542300,0.020667,0.018349,0.049580
248,2023-10-25,13.20,13.50,12.80,12.85,12.85,13303400,-0.026873,-0.053043,0.049505
249,2023-10-26,13.01,13.55,13.01,13.36,13.36,16068800,0.038921,-0.011165,0.049468
250,2023-10-27,13.41,13.66,13.36,13.66,13.66,1411000,0.022207,0.055695,0.049387

In [13]:
np.std([0.003295, -0.196367], ddof=1)

0.14118235414526847

In [34]:
df['Daily_Return'] = np.log(df['Close']/df['Close'].shift(1))
df['Week_Return'] = np.log(df['Close']/df['Close'].shift(7))
df['Month_Return'] = np.log(df['Close']/df['Close'].shift(30))
df

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_Return,Week_Return,Month_Return
0,2022-10-27,14.370000,15.240000,14.33,14.640000,14.640000,9401500,NaN,NaN,NaN
1,2022-10-28,14.430000,14.930000,14.33,14.810000,14.810000,8831300,0.011545,NaN,NaN
2,2022-10-31,14.440000,16.129999,14.30,16.129999,16.129999,16568200,0.085378,NaN,NaN
3,2022-11-01,16.200001,16.559999,15.61,16.320000,16.320000,11681900,0.011711,NaN,NaN
4,2022-11-03,15.780000,16.270000,15.45,16.230000,16.230000,11766800,-0.005530,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
246,2023-10-23,12.250000,13.140000,12.12,12.930000,12.930000,14617400,0.045085,-0.053456,-0.055653
247,2023-10-24,13.100000,13.410000,12.93,13.200000,13.200000,11542300,0.020667,0.018349,-0.034987
248,2023-10-25,13.200000,13.500000,12.80,12.850000,12.850000,13303400,-0.026873,-0.053043,-0.064782
249,2023-10-26,13.010000,13.550000,13.01,13.360000,13.360000,16068800,0.038921,-0.011165,-0.024400
250,2023-10-27,13.410000,13.660000,13.36,13.660000,13.660000,1411000,0.022207,0.055695,0.041860